@use "variables" as v;
@use "mixin" as m;

// ここから下層ページのABOUT



// .aboutPage-inner img {
//     right: 0px; 
//     width: 50px;
//     height: auto;
// }

/* しっぽ飾り（カード左上からニョキ） */
// .aboutCard-tail {
// padding-top: 28px; // しっぽ分
// }

.inner.aboutCard {
    position: relative;
    overflow: hidden;
    /* ← これが超重要 */
}

.aboutCard img,
.aboutCard2 img {
    position: absolute;
    width: 150px;
    height: auto;
    pointer-events: none;
    filter: drop-shadow(0 8px 14px rgba(0, 0, 0, .10));

}

.tail-left {
    left: 0;
    transform: translateX(-20px) rotate(45deg);
    top: 110px;
    width: 150px;
    height: auto;
    pointer-events: none;
    transform: rotate(0deg);
    filter: drop-shadow(0 8px 14px rgba(0, 0, 0, .10));
    z-index: -1;
}

.tail-right {
    right: 0;
    transform: translateX(-20px) rotate(45deg);
    top: 650px;
    width: 150px;
    height: auto;
    pointer-events: none;
    transform: rotate(0deg);
    filter: drop-shadow(0 8px 14px rgba(0, 0, 0, .10));
    z-index: -1;
}