@use "variables" as v;
@use "mixin" as m;


header {
    padding: 16px 0px;
    background-color: #fdf3f3;
    // .header-inner {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    // }
    z-index: 2;

    .header-logo img {
        display: block;
        width: 160px;
        height: auto;
    }


    /* transition 変化のスピード調整してる */

    .hamburger {
        width: 50px;
        height: 50px;
        background-color: #f78a8a;
        position: fixed;
        border-radius: 50%;
        top: 16px;
        right: 16px;
        z-index: 30;
        cursor: pointer;
        transition: 0.3s;
    }

    .hamburger span {
        width: 50%;
        height: 2px;
        background: #fdf3f3;
        position: absolute;
        left: 25%;
        left: 25%;
        transition: 0.3s;
    }

    .hamburger span:nth-child(1) {
        top: 36%;
    }

    .hamburger span:nth-child(2) {
        top: 50%;
    }

    .hamburger span:nth-child(3) {
        top: 64%;
    }

    .hamburger:hover {
        opacity: 0.7;

    }

    /*ナビ非表示 visibilty-hidden*/

    #navi {
        width: 100%;
        height: 100vh;
        background-color: #fdf3f3;
        color: #690505;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        text-align: center;
        transition: all 0.6s ease;
        opacity: 0;
        visibility: hidden;
    }

    /* ナビ表示 visibility-visible*/

    &.open {
        #navi {
            opacity: 1;
            visibility: visible;

            .logo {
                width: 160px;
                margin-top: 20px;

            }


            .menu {
                margin: 50px 0 40px;
            }

            .menu li {
                margin-bottom: 20px;
            }


            .menu li {
                position: relative;
                padding-bottom: 6px;

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    width: 40%; // ← ★ここで長さ調整
                    height: 2px;
                    background: #f78a8a;
                    transform: translateX(-50%) scaleX(0);
                    transition: transform 0.3s;
                }

                &:hover::after {
                    transform: translateX(-50%) scaleX(1);
                }
            }

            .menu a {
                color: #690505;
                font-weight: bold;
            }

            .btn {
                width: 250px;
                border: solid 1px #690505;
                color: #fff;
                background: #f78a8a;
                display: inline-block;
                border-radius: 10px;
                font-weight: bold;
                padding: 20px 0;
                transition: 0.3s;
                position: relative;
            }

            /* ナビボタンの影 */

            .btn::after {
                position: absolute;
                content: "";
                width: 250px;
                border-right: solid 1px #690505;
                border-bottom: solid 1px #690505;
                padding: 15px 15px;
                border-bottom-right-radius: 15px;
                right: -6px;
                bottom: -6px;
            }



        }

        /* span変化する */

        .hamburger span:nth-child(1) {
            top: 47%;
            background: #fff;
            transform: rotate(-45deg);
        }

        .hamburger span:nth-child(2),
        .hamburger span:nth-child(3) {
            top: 47%;
            background: #fff;
            transform: rotate(45deg);
        }
    }

    
}