@use "variables" as v;
@use "mixin" as m;

// service

.service-slider {
    position: relative;
    width: 100%;
    height: 300px; // 今のスマホデザインに合わせて
    border-radius: 20px;
    overflow: hidden;
}

/* 共通 */
.service-slide {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    animation: slideFade 32s infinite;
}

/* 4枚 → 0 / 4 / 8 / 12 秒 */
.service-slide:nth-child(1) {
    animation-delay: 0s;
}

.service-slide:nth-child(2) {
    animation-delay: 8s;
}

.service-slide:nth-child(3) {
    animation-delay: 16s;
}

.service-slide:nth-child(4) {
    animation-delay: 24s;
}

@keyframes slideFade {
    0% {
        opacity: 0;
        transform: scale(1.03);
    }

    6% {
        opacity: 1;
        transform: scale(1);
    }

    // ふわっと表示
    25% {
        opacity: 1;
    }

    31% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.text {
    background: rgba(255, 255, 255, .85);
    border-radius: 18px;
    padding: 24px;
    line-height: 1.9;
    font-weight: bold;
    text-align: center;
    margin: 24px 0;
}